/*Container primary css*/
.content-primary{
  height: 100vh;
  border-right: 1px solid rgb(233, 233, 233);
}

/*Container secondary css*/
.content-secondary {
  background-color: #ecf0f7;
  height: 100vh;
}

.content {
  background-color: white;
  padding: 25px;
  border: 3px 3px 3px 3px;
  border-radius: 25px;
  margin-right: 18px;
}

.secondary-info {
  margin-top: 30px;
  margin-left: 22px;
}
